@model List<Course>
@foreach (var course in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top:20px !important">
        <div class="single-course">
            <div class="course-img">
                <a asp-controller="course" asp-action="details" asp-route-id="@course.Id">
                    <img src="~/assets/img/course/@course.Image" alt="course">
                    <div class="course-hover">
                        <i class="fa fa-link"></i>
                    </div>
                </a>
            </div>
            <div class="course-content">
                <h3><a asp-controller="course" asp-action="details" asp-route-id="@course.Id">@course.Name</a></h3>
                @if (course.Description.Length > 120)
                {
                    <p>@course.Description.Substring(0, 120)</p>
                }
                else
                {
                    <p>@course.Description</p>
                }

                <a class="default-btn" asp-controller="course" asp-action="details" asp-route-id="@course.Id">read more</a>
            </div>
        </div>
    </div>
}